/* https://github.com/stipsan/react-spring-bottom-sheet/tree/3cb57d11c9a1e3a23e4e855e9525abc380b527b2#customizing-the-css */
/* :root {
  --rsbs-backdrop-bg: rgba(0, 0, 0, 0.6);
  --rsbs-bg: #31313a;
  --rsbs-handle-bg: #31313a;
  --rsbs-max-w: auto;
  --rsbs-ml: env(safe-area-inset-left);
  --rsbs-mr: env(safe-area-inset-right);
  --rsbs-overlay-rounded: 16px;
} */

@media (min-width: 600px) {
  :root {
    --rsbs-max-w: 50%;
    --rsbs-ml: auto;
    --rsbs-mr: auto;
  }
}

:root {
  --rsbs-bg: var(--colors-gray1);
}

/* https://github.com/radix-ui/design-system/blob/master/styles.css */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
}

svg {
  display: block;
  vertical-align: middle;
}

html,
body,
#root {
  height: 100%;
}
